Task 1: Data Exploration and Enrichment

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load the unified data (adjust path if needed)
unified_df = pd.read_excel('../data/raw/ethiopia_fi_unified_data.xlsx', sheet_name='ethiopia_fi_unified_data')

# Load impact sheet
impact_df = pd.read_excel('../data/raw/ethiopia_fi_unified_data.xlsx', sheet_name='Impact_sheet')

# Load reference codes
ref_df = pd.read_excel('../data/raw/reference_codes.xlsx')

# Load additional guide (example for one sheet; repeat for others)
alt_baselines = pd.read_excel('../data/raw/Additional Data Points Guide.xlsx', sheet_name='A. Alternative Baselines')

# Quick peek
display(unified_df.head())
display(impact_df.head())
display(ref_df.head())
display(alt_baselines.head())

,record_id,record_type,category,pillar,indicator,indicator_code,indicator_direction,value_numeric,value_text,value_type,...,impact_direction,impact_magnitude,impact_estimate,lag_months,evidence_basis,comparable_country,collected_by,collection_date,original_text,notes
0,REC_0001,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,22.0,NaN,percentage,...,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,Baseline year,NaN
1,REC_0002,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,35.0,NaN,percentage,...,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,NaN,NaN
2,REC_0003,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,46.0,NaN,percentage,...,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,NaN,NaN
3,REC_0004,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,56.0,NaN,percentage,...,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,Gender disaggregated,NaN
4,REC_0005,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,36.0,NaN,percentage,...,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,Gender disaggregated,NaN

,record_id,parent_id,record_type,category,pillar,indicator,indicator_code,indicator_direction,value_numeric,value_text,...,impact_direction,impact_magnitude,impact_estimate,lag_months,evidence_basis,comparable_country,collected_by,collection_date,original_text,notes
0,IMP_0001,EVT_0001,impact_link,NaN,ACCESS,Telebirr effect on Account Ownership,NaN,NaN,15.0,NaN,...,increase,high,15.0,12,literature,Kenya,Example_Trainee,2025-01-20,NaN,Kenya M-Pesa showed +20pp over 5 years
1,IMP_0002,EVT_0001,impact_link,NaN,USAGE,Telebirr effect on Telebirr Users,NaN,NaN,NaN,NaN,...,increase,high,NaN,3,empirical,NaN,Example_Trainee,2025-01-20,NaN,Direct subscriber acquisition
2,IMP_0003,EVT_0001,impact_link,NaN,USAGE,Telebirr effect on P2P Transactions,NaN,NaN,25.0,NaN,...,increase,high,25.0,6,empirical,NaN,Example_Trainee,2025-01-20,NaN,New digital payment channel
3,IMP_0004,EVT_0002,impact_link,NaN,ACCESS,Safaricom effect on 4G Coverage,NaN,NaN,15.0,NaN,...,increase,medium,15.0,12,empirical,NaN,Example_Trainee,2025-01-20,NaN,Network investment from competition
4,IMP_0005,EVT_0002,impact_link,NaN,AFFORDABILITY,Safaricom effect on Data Affordability,NaN,NaN,-20.0,NaN,...,decrease,medium,-20.0,12,literature,Rwanda,Example_Trainee,2025-01-20,NaN,Competition typically reduces prices

,field,code,description,applies_to
0,record_type,observation,Actual measured value from a source,All
1,record_type,event,Policy launch market event or milestone,All
2,record_type,impact_link,Relationship between event and indicator (link...,All
3,record_type,target,Policy target or official goal,All
4,record_type,baseline,Starting point for comparison,All

,Unnamed: 0,Integrated Financial Access & Usage Index (IFAU index),Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A,Alternative Baseline Surveys,NaN,NaN,NaN,NaN,NaN,NaN
2,B,Potential Direct Corelating Data Points,NaN,NaN,NaN,NaN,NaN,NaN
3,C,Potential Indirect (Enablers or Proxies) Corel...,NaN,NaN,NaN,NaN,NaN,NaN
4,D,Naunces and Market Contexts,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
print("Total rows in unified_df:", len(unified_df))
print("\nCount by record_type:")
print(unified_df['record_type'].value_counts())

print("\nCount by pillar (only where pillar is filled):")
print(unified_df['pillar'].value_counts(dropna=False))

Total rows in unified_df: 43

Count by record_type:
record_type
observation    30
event          10
target          3
Name: count, dtype: int64

Count by pillar (only where pillar is filled):
pillar
ACCESS           16
USAGE            11
NaN              10
GENDER            5
AFFORDABILITY     1
Name: count, dtype: int64

In [5]:
print("Unique indicators:")
print(unified_df['indicator'].dropna().unique())

print("\nUnique indicator_codes:")
print(unified_df['indicator_code'].dropna().unique())

Unique indicators:
['Account Ownership Rate' 'Mobile Money Account Rate'
 '4G Population Coverage' 'Mobile Subscription Penetration'
 'Fayda Digital ID Enrollment' 'P2P Transaction Count'
 'P2P Transaction Value' 'ATM Transaction Count' 'ATM Transaction Value'
 'P2P/ATM Crossover Ratio' 'Telebirr Registered Users'
 'Telebirr Transaction Value' 'M-Pesa Registered Users'
 'M-Pesa 90-Day Active Users' 'Mobile Money Activity Rate'
 'Data Affordability Index' 'Account Ownership Gender Gap'
 'Female Mobile Money Account Share' 'Mobile Phone Gender Gap'
 'Telebirr Launch' 'Safaricom Ethiopia Commercial Launch'
 'M-Pesa Ethiopia Launch' 'Fayda Digital ID Program Rollout'
 'Foreign Exchange Liberalization' 'P2P Transaction Count Surpasses ATM'
 'M-Pesa EthSwitch Integration' 'EthioPay Instant Payment System Launch'
 'NFIS-II Strategy Launch' 'Safaricom Ethiopia Price Increase']

Unique indicator_codes:
['ACC_OWNERSHIP' 'ACC_MM_ACCOUNT' 'ACC_4G_COV' 'ACC_MOBILE_PEN'
 'ACC_FAYDA' 'USG_P2P_COUNT' 'USG_P2P_VALUE' 'USG_ATM_COUNT'
 'USG_ATM_VALUE' 'USG_CROSSOVER' 'USG_TELEBIRR_USERS' 'USG_TELEBIRR_VALUE'
 'USG_MPESA_USERS' 'USG_MPESA_ACTIVE' 'USG_ACTIVE_RATE' 'AFF_DATA_INCOME'
 'GEN_GAP_ACC' 'GEN_MM_SHARE' 'GEN_GAP_MOBILE' 'EVT_TELEBIRR'
 'EVT_SAFARICOM' 'EVT_MPESA' 'EVT_FAYDA' 'EVT_FX_REFORM' 'EVT_CROSSOVER'
 'EVT_MPESA_INTEROP' 'EVT_ETHIOPAY' 'EVT_NFIS2' 'EVT_SAFCOM_PRICE']

In [6]:
print("Unique indicators:")
print(unified_df['indicator'].dropna().unique())

print("\nUnique indicator_codes:")
print(unified_df['indicator_code'].dropna().unique())

Unique indicators:
['Account Ownership Rate' 'Mobile Money Account Rate'
 '4G Population Coverage' 'Mobile Subscription Penetration'
 'Fayda Digital ID Enrollment' 'P2P Transaction Count'
 'P2P Transaction Value' 'ATM Transaction Count' 'ATM Transaction Value'
 'P2P/ATM Crossover Ratio' 'Telebirr Registered Users'
 'Telebirr Transaction Value' 'M-Pesa Registered Users'
 'M-Pesa 90-Day Active Users' 'Mobile Money Activity Rate'
 'Data Affordability Index' 'Account Ownership Gender Gap'
 'Female Mobile Money Account Share' 'Mobile Phone Gender Gap'
 'Telebirr Launch' 'Safaricom Ethiopia Commercial Launch'
 'M-Pesa Ethiopia Launch' 'Fayda Digital ID Program Rollout'
 'Foreign Exchange Liberalization' 'P2P Transaction Count Surpasses ATM'
 'M-Pesa EthSwitch Integration' 'EthioPay Instant Payment System Launch'
 'NFIS-II Strategy Launch' 'Safaricom Ethiopia Price Increase']

Unique indicator_codes:
['ACC_OWNERSHIP' 'ACC_MM_ACCOUNT' 'ACC_4G_COV' 'ACC_MOBILE_PEN'
 'ACC_FAYDA' 'USG_P2P_COUNT' 'USG_P2P_VALUE' 'USG_ATM_COUNT'
 'USG_ATM_VALUE' 'USG_CROSSOVER' 'USG_TELEBIRR_USERS' 'USG_TELEBIRR_VALUE'
 'USG_MPESA_USERS' 'USG_MPESA_ACTIVE' 'USG_ACTIVE_RATE' 'AFF_DATA_INCOME'
 'GEN_GAP_ACC' 'GEN_MM_SHARE' 'GEN_GAP_MOBILE' 'EVT_TELEBIRR'
 'EVT_SAFARICOM' 'EVT_MPESA' 'EVT_FAYDA' 'EVT_FX_REFORM' 'EVT_CROSSOVER'
 'EVT_MPESA_INTEROP' 'EVT_ETHIOPAY' 'EVT_NFIS2' 'EVT_SAFCOM_PRICE']

In [7]:
obs['observation_date_dt'] = pd.to_datetime(obs['observation_date'], errors='coerce')

NameError: name 'obs' is not defined

In [8]:
events = unified_df[unified_df['record_type'] == 'event'].copy()

print("All events in the dataset:")
print(events[['record_id', 'indicator', 'category', 'observation_date', 'value_text']])

All events in the dataset:
   record_id                               indicator        category  \
33  EVT_0001                         Telebirr Launch  product_launch
34  EVT_0002    Safaricom Ethiopia Commercial Launch    market_entry
35  EVT_0003                  M-Pesa Ethiopia Launch  product_launch
36  EVT_0004        Fayda Digital ID Program Rollout  infrastructure
37  EVT_0005         Foreign Exchange Liberalization          policy
38  EVT_0006     P2P Transaction Count Surpasses ATM       milestone
39  EVT_0007            M-Pesa EthSwitch Integration     partnership
40  EVT_0008  EthioPay Instant Payment System Launch  infrastructure
41  EVT_0009                 NFIS-II Strategy Launch          policy
42  EVT_0010       Safaricom Ethiopia Price Increase         pricing

   observation_date   value_text
33       2021-05-17     Launched
34       2022-08-01     Launched
35       2023-08-01     Launched
36       2024-01-01     Launched
37       2024-07-29  Implemented
38       2024-10-01     Achieved
39       2025-10-27     Launched
40       2025-12-18     Launched
41       2021-09-01     Launched
42       2025-12-15  Implemented

In [9]:
print("Number of impact links:", len(impact_df))

print("\nImpact links grouped by parent event:")
print(impact_df['parent_id'].value_counts())

print("\nWhich pillars are affected?")
print(impact_df['pillar'].value_counts())

Number of impact links: 14

Impact links grouped by parent event:
parent_id
EVT_0001    3
EVT_0002    2
EVT_0003    2
EVT_0004    2
EVT_0007    2
EVT_0005    1
EVT_0008    1
EVT_0010    1
Name: count, dtype: int64

Which pillars are affected?
pillar
USAGE            6
ACCESS           4
AFFORDABILITY    3
GENDER           1
Name: count, dtype: int64

In [10]:
# Create a copy to avoid modifying original
enriched_df = unified_df.copy()

# Example: New Telebirr users observation
new_row1 = {
    'record_id': 'REC_0034',               # next after REC_0033
    'record_type': 'observation',
    'category': None,
    'pillar': 'ACCESS',
    'indicator': 'Telebirr Registered Users',
    'indicator_code': 'USG_TELEBIRR_USERS',
    'indicator_direction': 'higher_better',
    'value_numeric': 58.61,
    'value_type': 'million',
    'unit': 'million users',
    'observation_date': pd.Timestamp('2026-01-29'),  # approx date of report
    'source_name': 'Ethio Telecom FY2025/26 Half-Year Report',
    'source_type': 'operator',
    'source_url': 'https://www.ethiotelecom.et/',   # or specific news link
    'confidence': 'high',
    'collected_by': 'Bezu',
    'collection_date': pd.Timestamp.today().strftime('%Y-%m-%d'),
    'original_text': 'Telebirr customer base has grown to 58.61 million users',
    'notes': 'Latest reported figure - Jan 2026. Impacts ACCESS & USAGE strongly.'
}

enriched_df = pd.concat([enriched_df, pd.DataFrame([new_row1])], ignore_index=True)

# Repeat for Fayda
new_row2 = {
    'record_id': 'REC_0035',
    'record_type': 'observation',
    'pillar': 'ACCESS',
    'indicator': 'Fayda Digital ID Enrollment',
    'indicator_code': 'ACC_FAYDA',
    'value_numeric': 31.5,
    'value_type': 'million',
    'unit': 'people',
    'observation_date': pd.Timestamp('2025-12-01'),  # approx
    'source_name': 'Fayda Official / Gazette',
    'source_type': 'regulator',
    'source_url': 'https://id.gov.et/',
    'confidence': 'high',
    'collected_by': 'Bezu',
    'collection_date': pd.Timestamp.today().strftime('%Y-%m-%d'),
    'original_text': 'Total registration reaches 31.5M',
    'notes': 'Recent surge in enrollment - supports account opening.'
}

enriched_df = pd.concat([enriched_df, pd.DataFrame([new_row2])], ignore_index=True)

# Add one more if you want (mobile money accounts)
new_row3 = {...}  # similar structure, value_numeric=136, indicator='Mobile Money Accounts Total', pillar='ACCESS', source='NBE 2025 report'

# Show new rows
enriched_df.tail(5)

,record_id,record_type,category,pillar,indicator,indicator_code,indicator_direction,value_numeric,value_text,value_type,...,impact_direction,impact_magnitude,impact_estimate,lag_months,evidence_basis,comparable_country,collected_by,collection_date,original_text,notes
40,EVT_0008,event,infrastructure,NaN,EthioPay Instant Payment System Launch,EVT_ETHIOPAY,NaN,NaN,Launched,categorical,...,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20 00:00:00,NaN,National real-time payment system,NaN
41,EVT_0009,event,policy,NaN,NFIS-II Strategy Launch,EVT_NFIS2,NaN,NaN,Launched,categorical,...,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20 00:00:00,NaN,5-year national financial inclusion strategy,NaN
42,EVT_0010,event,pricing,NaN,Safaricom Ethiopia Price Increase,EVT_SAFCOM_PRICE,NaN,NaN,Implemented,categorical,...,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20 00:00:00,NaN,Data and voice prices increased 20-82%,NaN
43,REC_0034,observation,None,ACCESS,Telebirr Registered Users,USG_TELEBIRR_USERS,higher_better,58.61,NaN,million,...,NaN,NaN,NaN,NaN,NaN,NaN,Bezu,2026-02-01,Telebirr customer base has grown to 58.61 mill...,Latest reported figure - Jan 2026. Impacts ACC...
44,REC_0035,observation,NaN,ACCESS,Fayda Digital ID Enrollment,ACC_FAYDA,NaN,31.50,NaN,million,...,NaN,NaN,NaN,NaN,NaN,NaN,Bezu,2026-02-01,Total registration reaches 31.5M,Recent surge in enrollment - supports account ...